[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-migrate = "*"
flask-sqlalchemy = "*"
flask-bcrypt = "*"
flask-cors = "*"
pymysql = "*"
sqlalchemy = "*"
flask-mail = "*"
itsdangerous = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3"
